/*
  CSS written by Isaac Medina
  Design inspired by PartsTown Design Guidelines
*/
html, body {
  margin: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 10px;
  user-select: none;
  width: 100%;
  height: auto;
}

.gray { color: #2d2826; }

.red { color: #c8102e; }

.white { color: #fff; }

.small_header {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: auto;
}

.small {
  display: inline-block;
  font-family: effra, sans-serif;
  font-weight: 400;
  font-size: 10px;
  padding-left: 1px;
  padding-right: 2px;
}

.link {
  text-decoration: none;
}

.link:visited {
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

.logo_container_header {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 35px;
}

.header_logo {
  width: 13%;
  height: 13%:
}

.tabs_container_header {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.tab_item {
  padding-left: 11px;
  padding-right: 11px;
  font-family: effra, sans-serif;
  display: inline-block;
  text-transform: uppercase;
}

.banner_header {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0px !important;
  background-color: #c8102e;
  width: 40%;
  position: relative;
  margin-top: 10px !important;
  margin: 0 auto;
  height: 30px;
  border-bottom: 5px solid #ab1a2d;
}

.banner_text {
  padding: 0px !important;
  font-family: museo-slab, serif;
  font-weight: 300;
  font-size: 15px;
}

.logo_email_content {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 25px;
}

.email_content_logo {
  width: 15%;
  height: 15%:
}

.text_email_content {
  align-items: center;
  justify-content: center;
  display: flex;
}

.text_email_container {
  display: table-cell;
}

.heading {
  text-align: center;
  font-family: effra, sans-serif;
  font-weight: 600;
  font-size: 18px;
  vertical-align: middle;
}

.paragraph {
  text-align: center;
  font-family: museo-slab, serif;
  font-weight: 300;
  font-size: 15px;
  vertical-align: middle;
}

.img-1 {
  width: 28%;
  height: 28%;
  display: block;
  margin: 0 auto;
}

.img-2 {
  width: 28%;
  height: 28%;
  display: block;
  margin: 0 auto;
}

.img-3 {
  width: 28%;
  height: 28%;
  display: block;
  margin: 0 auto;
}

.divider_large {
  width: 384.72px;
  height: 3px;
  background: black;
  border: none;
  border-style: none;
}

.social_media_footer {
  align-items: center;
  justify-content: center;
  display: flex;
}

.icon-f {
  padding: 10px 14px 10px 14px;
  background-color: #000;
  margin-left: 10px;
  margin-right: 10px;
}

.icon-t {
  padding: 10px 10.5px 10px 10.5px;
  background-color: #000;
  margin-left: 10px;
  margin-right: 10px;
}

.icon-b {
  padding: 10px 11px 10px 11px;
  background-color: #000;
  margin-left: 10px;
  margin-right: 10px;
}

.icon-y {
  padding: 10px 10px 10px 10px;
  background-color: #000;
  margin-left: 10px;
  margin-right: 10px;
}

.icon-l {
  padding: 10px 11px 10px 11px;
  background-color: #000;
  margin-left: 10px;
  margin-right: 10px;
}

.divider_small {
  width: 384.72px;
  height: 1px;
  background: #aeaeae;
  border: none;
  border-style: none;
}

.tabs_container_footer {
  align-items: center;
  justify-content: center;
  display: flex;
}

.tab_item-2  {
  padding-left: 11px;
  padding-right: 11px;
  font-family: effra, sans-serif;
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
}

.text_footer_content {
  align-items: center;
  justify-content: center;
  display: flex;
}

.text_footer_container {
  display: table-cell;
}

.small_footer {
  font-family: effra, sans-serif;
  font-weight: 400;
  font-size: 10px;
  padding-left: 1px;
  padding-right: 2px;
  vertical-align: middle;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

/*
  Resposive CSS
*/
@media only screen and (max-width: 1275px) {
  .banner_text {
    padding: 0px !important;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 14px;
  }

  .heading {
    text-align: center;
    font-family: effra, sans-serif;
    font-weight: 600;
    font-size: 22px;
    vertical-align: middle;
  }

  .paragraph {
    text-align: center;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 17px;
    vertical-align: middle;
  }

  .img-1 {
    width: 39%;
    height: 39%;
    display: block;
    margin: 0 auto;
  }

  .img-2 {
    width: 39%;
    height: 39%;
    display: block;
    margin: 0 auto;
  }

  .img-3 {
    width: 39%;
    height: 39%;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1106px) {
  .header_logo {
    width: 16%;
    height: 16%;
  }

  .banner_text {
    padding: 0px !important;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 12px;
  }

  .heading {
    text-align: center;
    font-family: effra, sans-serif;
    font-weight: 600;
    font-size: 22px;
    vertical-align: middle;
  }

  .paragraph {
    text-align: center;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 17px;
    vertical-align: middle;
  }

  .img-1 {
    width: 39%;
    height: 39%;
    display: block;
    margin: 0 auto;
  }

  .img-2 {
    width: 39%;
    height: 39%;
    display: block;
    margin: 0 auto;
  }

  .img-3 {
    width: 39%;
    height: 39%;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1042px) {
  .header_logo {
    width: 18%;
    height: 18%;
  }

  .banner_text {
    padding: 0px !important;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 11px;
  }

  .heading {
    text-align: center;
    font-family: effra, sans-serif;
    font-weight: 600;
    font-size: 20px;
    vertical-align: middle;
  }

  .paragraph {
    text-align: center;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 14px;
    vertical-align: middle;
  }

  .img-1 {
    width: 40%;
    height: 40%;
    display: block;
    margin: 0 auto;
  }

  .img-2 {
    width: 40%;
    height: 40%;
    display: block;
    margin: 0 auto;
  }

  .img-3 {
    width: 40%;
    height: 40%;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 950px) {
  .header_logo {
    width: 18%;
    height: 18%;
  }

  .banner_text {
    padding: 0px !important;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 10px;
  }

  .heading {
    text-align: center;
    font-family: effra, sans-serif;
    font-weight: 600;
    font-size: 18px;
    vertical-align: middle;
  }

  .paragraph {
    text-align: center;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 13px;
    vertical-align: middle;
  }

  .img-1 {
    width: 41%;
    height: 41%;
    display: block;
    margin: 0 auto;
  }

  .img-2 {
    width: 41%;
    height: 41%;
    display: block;
    margin: 0 auto;
  }

  .img-3 {
    width: 41%;
    height: 41%;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 850px) {
  .header_logo {
    width: 19%;
    height: 19%;
  }

  .tab_item {
    font-size: 14px;
    padding-left: 11px;
    padding-right: 11px;
    font-family: effra, sans-serif;
    display: inline-block;
    text-transform: uppercase;
  }

  .banner_text {
    padding: 0px !important;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 9px;
  }

  .heading {
    text-align: center;
    font-family: effra, sans-serif;
    font-weight: 600;
    font-size: 18px;
    vertical-align: middle;
  }

  .paragraph {
    text-align: center;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 12px;
    vertical-align: middle;
  }

  .img-1 {
    width: 42%;
    height: 42%;
    display: block;
    margin: 0 auto;
  }

  .img-2 {
    width: 42%;
    height: 42%;
    display: block;
    margin: 0 auto;
  }

  .img-3 {
    width: 42%;
    height: 42%;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 770px) {
  .small {
    font-size: 14px;
  }

  .header_logo {
    width: 38%;
    height: 38%;
  }

  .tab_item {
    font-size: 30px;
    padding-left: 11px;
    padding-right: 11px;
    font-family: effra, sans-serif;
    display: inline-block;
    text-transform: uppercase;
  }

  .banner_header {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px !important;
    background-color: #c8102e;
    width: 730px;
    position: relative;
    margin-top: 10px !important;
    margin: 0 auto;
    height: 30px;
    border-bottom: 5px solid #ab1a2d;
  }

  .banner_text {
    padding: 0px !important;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 20.5px;
  }

  .email_content_logo {
    width: 38%;
    height: 38%;
  }

  .heading {
    text-align: center;
    font-family: effra, sans-serif;
    font-weight: 600;
    font-size: 33px;
    vertical-align: middle;
  }

  .paragraph {
    text-align: center;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 22px;
    vertical-align: middle;
  }

  .img-1 {
    width: 94.5%;
    height: 94.5%;
    display: block;
    margin: 0 auto;
  }

  .img-2 {
    width: 94.5%;
    height: 94.5%;
    display: block;
    margin: 0 auto;
  }

  .img-3 {
    width: 94.5%;
    height: 94.5%;
    display: block;
    margin: 0 auto;
  }

  .divider_large {
    width: 730px;
  }

  .divider_small {
    width: 730px;
  }

  .tab_item-2 {
    font-size: 14px;
  }

  .small_footer {
    font-size: 14px;
  }

}

@media only screen and (max-width: 680px) {
  .small {
    font-size: 12px;
  }

  .header_logo {
    width: 38%;
    height: 38%;
  }

  .tab_item {
    font-size: 26.5px;
    padding-left: 11px;
    padding-right: 11px;
    font-family: effra, sans-serif;
    display: inline-block;
    text-transform: uppercase;
  }

  .banner_header {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px !important;
    background-color: #c8102e;
    width: 650px;
    position: relative;
    margin-top: 10px !important;
    margin: 0 auto;
    height: 25px;
    border-bottom: 5px solid #ab1a2d;
  }

  .banner_text {
    padding: 0px !important;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 18px;
  }

  .email_content_logo {
    width: 38%;
    height: 38%;
  }

  .heading {
    text-align: center;
    font-family: effra, sans-serif;
    font-weight: 600;
    font-size: 29px;
    vertical-align: middle;
  }

  .paragraph {
    text-align: center;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 20px;
    vertical-align: middle;
  }

  .img-1 {
    width: 95%;
    height: 95%;
    display: block;
    margin: 0 auto;
  }

  .img-2 {
    width: 95%;
    height: 95%;
    display: block;
    margin: 0 auto;
  }

  .img-3 {
    width: 95%;
    height: 95%;
    display: block;
    margin: 0 auto;
  }

  .divider_large {
    width: 650px;
  }

  .divider_small {
    width: 650px;
  }

  .tab_item-2 {
    font-size: 12px;
  }

  .small_footer {
    font-size: 12px;
  }
}

@media only screen and (max-width: 595px) {
  .small {
    font-size: 8px;
  }

  .header_logo {
    width: 38%;
    height: 38%;
  }

  .tab_item {
    font-size: 22.5px;
    padding-left: 11px;
    padding-right: 11px;
    font-family: effra, sans-serif;
    display: inline-block;
    text-transform: uppercase;
  }

  .banner_header {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px !important;
    background-color: #c8102e;
    width: 555px;
    position: relative;
    margin-top: 10px !important;
    margin: 0 auto;
    height: 25px;
    border-bottom: 5px solid #ab1a2d;
  }

  .banner_text {
    padding: 0px !important;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 15.5px;
  }

  .email_content_logo {
    width: 38%;
    height: 38%;
  }

  .heading {
    text-align: center;
    font-family: effra, sans-serif;
    font-weight: 600;
    font-size: 24px;
    vertical-align: middle;
  }

  .paragraph {
    text-align: center;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 16px;
    vertical-align: middle;
  }

  .img-1 {
    width: 93%;
    height: 93%;
    display: block;
    margin: 0 auto;
  }

  .img-2 {
    width: 93%;
    height: 93%;
    display: block;
    margin: 0 auto;
  }

  .img-3 {
    width: 93%;
    height: 93%;
    display: block;
    margin: 0 auto;
  }

  .icon-f {
    font-size: 16px;
    padding: 6px 9px 6px 9px;
    background-color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }

  .icon-t {
    font-size: 16px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }

  .icon-b {
    font-size: 16px;
    padding: 6px 8px 6px 8px;
    background-color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }

  .icon-y {
    font-size: 16px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }

  .icon-l {
    font-size: 16px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }

  .divider_large {
    width: 555px;
  }

  .divider_small {
    width: 555px;
  }

  .tab_item-2 {
    font-size: 12px;
  }

  .small_footer {
    font-size: 12px;
  }
}

@media only screen and (max-width: 555px) {
  .small {
    font-size: 9px;
  }

  .header_logo {
    width: 38%;
    height: 38%;
  }

  .tab_item {
    font-size: 20px;
    padding-left: 11px;
    padding-right: 11px;
    font-family: effra, sans-serif;
    display: inline-block;
    text-transform: uppercase;
  }

  .banner_header {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px !important;
    background-color: #c8102e;
    width: 518px;
    position: relative;
    margin-top: 10px !important;
    margin: 0 auto;
    height: 25px;
    border-bottom: 5px solid #ab1a2d;
  }

  .banner_text {
    padding: 0px !important;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 14.5px;
  }

  .email_content_logo {
    width: 38%;
    height: 38%;
  }

  .heading {
    text-align: center;
    font-family: effra, sans-serif;
    font-weight: 600;
    font-size: 24px;
    vertical-align: middle;
  }

  .paragraph {
    text-align: center;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 16px;
    vertical-align: middle;
  }

  .img-1 {
    width: 93%;
    height: 93%;
    display: block;
    margin: 0 auto;
  }

  .img-2 {
    width: 93%;
    height: 93%;
    display: block;
    margin: 0 auto;
  }

  .img-3 {
    width: 93%;
    height: 93%;
    display: block;
    margin: 0 auto;
  }

  .icon-f {
    font-size: 14px;
    padding: 6px 10px 6px 10px;
    background-color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }

  .icon-t {
    font-size: 14px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }

  .icon-b {
    font-size: 14px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }

  .icon-y {
    font-size: 14px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }

  .icon-l {
    font-size: 14px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }

  .divider_large {
    width: 518px;
  }

  .divider_small {
    width: 518px;
  }

  .tab_item-2 {
    font-size: 9px;
  }

  .small_footer {
    font-size: 9px;
  }
}

@media only screen and (max-width: 515px) {
  .small {
    font-size: 8px;
  }

  .header_logo {
    width: 38%;
    height: 38%;
  }

  .tab_item {
    font-size: 19px;
    padding-left: 11px;
    padding-right: 11px;
    font-family: effra, sans-serif;
    display: inline-block;
    text-transform: uppercase;
  }

  .banner_header {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px !important;
    background-color: #c8102e;
    width: 485px;
    position: relative;
    margin-top: 10px !important;
    margin: 0 auto;
    height: 25px;
    border-bottom: 5px solid #ab1a2d;
  }

  .banner_text {
    padding: 0px !important;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 13.5px;
  }

  .email_content_logo {
    width: 38%;
    height: 38%;
  }

  .heading {
    text-align: center;
    font-family: effra, sans-serif;
    font-weight: 600;
    font-size: 22px;
    vertical-align: middle;
  }

  .paragraph {
    text-align: center;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 16px;
    vertical-align: middle;
  }

  .img-1 {
    width: 94%;
    height: 94%;
    display: block;
    margin: 0 auto;
  }

  .img-2 {
    width: 94%;
    height: 94%;
    display: block;
    margin: 0 auto;
  }

  .img-3 {
    width: 94%;
    height: 94%;
    display: block;
    margin: 0 auto;
  }

  .icon-f {
    font-size: 16px;
    padding: 6px 10px 6px 10px;
    background-color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }

  .icon-t {
    font-size: 16px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }

  .icon-b {
    font-size: 16px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }

  .icon-y {
    font-size: 16px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }

  .icon-l {
    font-size: 16px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 10px;
    margin-right: 10px;
  }

  .divider_large {
    width: 485px;
  }

  .divider_small {
    width: 485px;
  }

  .tab_item-2 {
    font-size: 10px;
  }

  .small_footer {
    font-size: 10px;
  }
}

@media only screen and (max-width: 470px) {
  .small {
    font-size: 8px;
  }

  .tab_item {
    font-size: 14px;
    padding-left: 11px;
    padding-right: 11px;
    font-family: effra, sans-serif;
    display: inline-block;
    text-transform: uppercase;
  }

  .header_logo {
    width: 32%;
    height: 32%;
  }

  .banner_header {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px !important;
    background-color: #c8102e;
    width: 440px;
    position: relative;
    margin-top: 10px !important;
    margin: 0 auto;
    height: 20px;
    border-bottom: 5px solid #ab1a2d;
  }

  .banner_text {
    padding: 0px !important;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 12px;
  }

  .email_content_logo {
    width: 32%;
    height: 32%;
  }

  .heading {
    text-align: center;
    font-family: effra, sans-serif;
    font-weight: 600;
    font-size: 20px;
    vertical-align: middle;
  }

  .paragraph {
    text-align: center;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 14px;
    vertical-align: middle;
  }

  .img-1 {
    width: 93.5%;
    height: 93.5%;
    display: block;
    margin: 0 auto;
  }

  .img-2 {
    width: 93.5%;
    height: 93.5%;
    display: block;
    margin: 0 auto;
  }

  .img-3 {
    width: 93.5%;
    height: 93.5%;
    display: block;
    margin: 0 auto;
  }

  .icon-f {
    font-size: 14px;
    padding: 6px 9px 6px 9px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
  }

  .icon-t {
    font-size: 14px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
  }

  .icon-b {
    font-size: 14px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
  }

  .icon-y {
    font-size: 14px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
  }

  .icon-l {
    font-size: 14px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
  }

  .divider_large {
    width: 440px;
  }

  .divider_small {
    width: 440px;
  }

  .tab_item-2 {
    font-size: 8px;
  }

  .small_footer {
    font-size: 8px;
  }
}


@media only screen and (max-width: 412px) {
  .header_logo {
    width: 38%;
    height: 38%;
  }

  .tab_item {
    font-size: 15px;
    padding-left: 11px;
    padding-right: 11px;
    font-family: effra, sans-serif;
    display: inline-block;
    text-transform: uppercase;
  }

  .banner_header {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px !important;
    background-color: #c8102e;
    width: 385px;
    position: relative;
    margin-top: 10px !important;
    margin: 0 auto;
    height: 20px;
    border-bottom: 5px solid #ab1a2d;
  }

  .banner_text {
    padding: 0px !important;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 10.5px;
  }

  .email_content_logo {
    width: 38%;
    height: 38%;
  }

  .heading {
    text-align: center;
    font-family: effra, sans-serif;
    font-weight: 600;
    font-size: 19px;
    vertical-align: middle;
  }

  .paragraph {
    text-align: center;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 12px;
    vertical-align: middle;
  }

  .img-1 {
    width: 93%;
    height: 93%;
    display: block;
    margin: 0 auto;
  }

  .img-2 {
    width: 93%;
    height: 93%;
    display: block;
    margin: 0 auto;
  }

  .img-3 {
    width: 93%;
    height: 93%;
    display: block;
    margin: 0 auto;
  }

  .icon-f {
    font-size: 14px;
    padding: 6px 9px 6px 9px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
  }

  .icon-t {
    font-size: 14px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
  }

  .icon-b {
    font-size: 14px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
  }

  .icon-y {
    font-size: 14px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
  }

  .icon-l {
    font-size: 14px;
    padding: 6px 6px 6px 6px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
  }

  .divider_large {
    width: 385px;
  }

  .divider_small {
    width: 385px;
  }

  .tab_item-2 {
    font-size: 8px;
  }

  .small_footer {
    font-size: 8px;
  }
}

@media only screen and (max-width: 375px) {
  .small {
    font-size: 8px;
  }

  .header_logo {
    width: 35%;
    height: 35%;
  }

  .tab_item {
    margin-top: -10px;
    font-size: 12px;
    padding-left: 11px;
    padding-right: 11px;
    font-family: effra, sans-serif;
    display: inline-block;
    text-transform: uppercase;
  }

  .banner_header {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px !important;
    background-color: #c8102e;
    width: 350px;
    position: relative;
    margin-top: 8px !important;
    margin: 0 auto;
    height: 20px;
    border-bottom: 3px solid #ab1a2d;
  }

  .email_content_logo {
    width: 35%;
    height: 35%;
  }

  .banner_text {
    padding: 0px !important;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 9.5px;
  }

  .heading {
    text-align: center;
    font-family: effra, sans-serif;
    font-weight: 600;
    font-size: 18px;
    vertical-align: middle;
  }

  .paragraph {
    text-align: center;
    font-family: museo-slab, serif;
    font-weight: 300;
    font-size: 11px;
    vertical-align: middle;
  }

  .img-1 {
    width: 93%;
    height: 93%;
    display: block;
    margin: 0 auto;
  }

  .img-2 {
    width: 93%;
    height: 93%;
    display: block;
    margin: 0 auto;
  }

  .img-3 {
    width: 93%;
    height: 93%;
    display: block;
    margin: 0 auto;
  }

  .icon-f {
    font-size: 12px;
    padding: 4px 7px 4px 7px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
  }

  .icon-t {
    font-size: 12px;
    padding: 4px 4px 4px 4px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
  }

  .icon-b {
    font-size: 12px;
    padding: 4px 4px 4px 4px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
  }

  .icon-y {
    font-size: 12px;
    padding: 4px 4px 4px 4px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
  }

  .icon-l {
    font-size: 12px;
    padding: 4px 4px 4px 4px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
  }

  .divider_large {
    width: 350px;
  }

  .divider_small {
    width: 350px;
  }

  .tab_item-2 {
    font-size: 8px;
  }

  .small_footer {
    font-size: 8px;
  }
}
